---
layout: base.njk
title: Git repos
---

{{content | safe}}

<ul class="list">
    {% for item in gitrepos %}    
         <li>
            <a href="{{ item.html_url }}">{{ item.name}}</a>
        </li>
    {% endfor %}
</ul>