{% if navigation.items %}
    <nav>
        <div >
            <ul class="navbar">
                {% for item in navigation.items %}
                    <li>
                        <a href="{{ item.url }}">{{ item.text }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
{% endif %}