.navbar {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 2%;
  background-color: #324a5f;
  justify-content: end;
  margin: 0;
}

.navbar li {
  margin-right: 5%;
}

.navbar a {
  color: white;
}

.navbar a:link {
  text-decoration: none;
}

.navbar a:visited {
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

.navbar a:active {
  text-decoration: none;
}
