.navbar{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 1rem;
    background-color: lightgrey;
    justify-content: space-evenly;
    margin-top: 0;
    margin-bottom: 1rem;
}